<div class="container">
    <div class="row">
        <div class="color">
            <h3>I'm in the AppComponent</h3>

            <!--<app-servers></app-servers>-->
            <!--selector padrão-->

            <!--<div app-servers></div>-->
            <!--selector [app-servers]-->

            <div class="app-servers"></div>
            <!--selector .app-servers-->

            <div app-warning></div>

            <app-sucess-warning></app-sucess-warning>

            <p>Exercise</p>
            <h3></h3>
            <label for="">Username: </label>
            <input class="form-control" type="text" [(ngModel)]="userName">
            <p>{{userName}}</p>
            <button [disabled]="userName === ''" (click)="userName = ''">Reset user</button>
        </div>
        <h3></h3>
        <div class="ngFor-exercise"></div>

        <!--Using the new atribute directive appBasichighlight\appBetterHighlight creaded
        
        [highlightColor]="'orange'" 
        OR
        defaultColor="red"
        -->
        <hr>
        <p appBasichighlight>Style me with basic directive</p>
        <p appBetterHighlight [highlightColor]="'orange'" defaultColor="red">Style me with a better directive</p>

        <!--
        <ng-template [ngIf]="'true'">
            <div>teste ngIf property binding [ngIf]=true</div>
        </ng-template>
        -->


        <!--Using my onw struture directive *appUnless="true"-->
        <div *appUnless="true">test my onw struture directive appUnless</div>

        <!--ngSwitch example-->
        <div [ngSwitch]="10">
            <p *ngSwitchCase="10">Number 10</p>
            <p *ngSwitchCase="5">Number 5</p>
        </div>
    </div>